<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="/javascripts/java.js"></script>

  <div class="container">
    <!-- header web -->
    <header class="blog-header  bg-dark py-3">
      <div class="row p justify-content-between">
        <div class="col">
          <button class=" btn-dark ">
            <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-house-door " fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
              <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
            </svg></button>


        </div>
        <div class="col-4 text-center" id="company">

          <h5 style="color: white;">บริษัท โชคทวีออโต้เซลล์ จำกัด</h5>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">

          <ul class="navbar-nav  " id="profile">
            <li class="nav-item dropdown ">

              <a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M12 1H4a1 1 0 0 0-1 1v10.755S4 11 8 11s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z">
                  </path>
                  <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                </svg>Profile </a>
              <div class="dropdown-menu dropdown-menu-right   "
                aria-labelledby="navbarDropdownMenuLink-4">
                <a class="dropdown-item " href="#">My account</a>
                <a class="dropdown-item" href="#">Log out</a>
              </div>
            </li>
          </ul>


        </div>
      </div>
    </header>
    <!-- header -->




    <!-- nav-scroller -->
    <div class="nav-scroller py-1 mb-2 bg-secondary">

      <div class="nav-web">
        <nav class="nav d-flex justify-content-between align-content-lg-center">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">ซื้อรถ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">ขายรถ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">ซ่อมรถ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">เดินทะเบียน</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">สต็อครถ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">จัดการใบเสร็จ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">จัดการพนักงาน</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">จัดการลูกค้า</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">จัดการคู่ค้า</a>
          </li>
      </div>


      </nav>

      <!-- nav-scroller -->

    </div>

    <!-- header web -->




<!-- header mobile -->
<div class="nav-mobile">
  <!--Navbar-->

  <nav class="navbar navbar-dark bg-dark lighten-4 " >

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
          <!-- <img src="/images/choktawee.png" height="20" class="d-inline-block align-top" alt="mdb logo">  -->
          บริษัท
          โชคทวีออโต้เซลล์ จำกัด
      </a>
      <!-- Collapse button -->
      <button class="navbar-toggler navbar-toggler-icon  " type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span
              class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse " id="navbarSupportedContent1">

          <!-- Links -->
          <ul class="navbar-nav nav-tabs" id="item-mobile">

              <li class="nav-item">
                  <a class="nav-link text-light" href="#">ซื้อรถ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light" href="#">ขายรถ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light" href="#">ซ่อมรถ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light" href="#">เดินทะเบียน</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light" href="#">สต็อครถ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light" href="#">จัดการใบเสร็จ</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light" href="#">จัดการพนักงาน</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light" href="#">จัดการลูกค้า</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light" href="#">จัดการคู่ค้า</a>
              </li>
          </ul>
          <!-- Links -->

      </div>
      <!-- Collapsible content -->

  </nav>
  <!--/.Navbar--></div>
    

    <!-- header mobile -->




  </div>

  

<body>




</body>

</html>